<!-- <mat-toolbar color="primary">

  <mat-toolbar-row>
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    <span class="jobs-blog-label">Jobs Blog</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <button (click)="drawer.toggle()" mat-raised-button>
      Close
    </button>
  </mat-drawer>

</mat-drawer-container> -->

<app-navigation></app-navigation>

<router-outlet></router-outlet>
